body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
}

/* Iframe Full màn hình */
#game-frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    z-index: 1;
}

/* Tool nổi */
#floating-tool {
    position: fixed;
    top: 50px;
    left: 20px;
    width: 180px;
    background: rgba(20, 20, 20, 0.9);
    border: 2px solid #00ff00;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 255, 0, 0.3);
    z-index: 999999;
    touch-action: none;
}

.handle {
    background: #333;
    padding: 8px;
    cursor: move;
    border-radius: 8px 8px 0 0;
    text-align: center;
    font-size: 10px;
    color: #aaa;
    border-bottom: 1px solid #444;
}

.content {
    padding: 10px;
}

#md5Input {
    width: 145px;
    padding: 8px;
    margin-bottom: 10px;
    background: #000;
    border: 1px solid #444;
    color: #00ff00;
    font-size: 12px;
    outline: none;
}

#btnAnalys {
    width: 100%;
    padding: 10px;
    background: #00ff00;
    color: #000;
    border: none;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
}

#result {
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    min-height: 25px;
    text-shadow: 0 0 5px #000;
}
